@import "css/fonts.less";
@import "css/colors.less";


html {
	margin: 0;
	padding: 0;
	font-size: 20px;
	body {
		background-color: @bgColor;
		color: @mainFontColor;
		text-align: center;
		font-size: 1.2rem;
		font-family: 'Cousine', monospace;
		min-height: 100vh;
		line-height: 1.5;
		margin: 0;
		padding: 0;
		&.connected .metaMaskInfo {
			display: none;
		}
		a {
			color: var(--lightColor);
			text-decoration: none;
			transition: 0.4s color, 0.4s border-color;
		}
		nav {
			margin: 50px 15px;
			font-family: 'Major Mono Display', monospace;
			a {
				color: @mainFontColor;
				font-size: 1.6rem;
				font-weight: bold;
				padding: 15px;
				border-right: solid 2px @mainFontColor;
				border-bottom: solid 2px var(--lightColor);
				&:hover {
					color: var(--lightColor);
					border-right-color: var(--lightColor);
					border-bottom-color: @mainFontColor;
				}
			}
		}
		main {
			display: flex;
			flex-flow: column wrap;
			align-items: center;
			justify-content: center;
			.hidden {
				display: none;
			}
			h1, h2, h3, h4, h5, h6, button, figcaption {
				font-family: 'Major Mono Display', monospace;
				color: var(--lightColor);
				line-height: 2;
			}	
			h1 {
				font-size: 3rem;
			}
			h2 {
				font-size: 2rem;
			}
			input, button {
				font-size: 1.6rem;
			}
			input {
				width: 75px;
				background-color: transparent;
				border: none;
				color: @mainFontColor;
				margin: 15px;
				padding: 5px;
			}
			button {
				font-weight: bold;
				cursor: pointer;
				color: @bgColor;
				padding: 5px 20px;
			}
			#status, #nftCost {
				margin: 15px;
				font-size: 1.4rem;
			}
			.mintedNfts button {
				margin-bottom: 50px;
			}
			.ownNfts, .mintedNfts {
				.ownNftsWrapper, .mintedNftsWrapper {
					max-width: 100%;
					display: flex;
					justify-content: center;
					flex-flow: row wrap;
				}
				figure {
					img {
						max-width: 300px;
						max-height: 300px;
						
					}
				}
			}
			figure {
				padding: 15px;
				margin: 15px;
				img {
					max-width: 400px;
					max-height: 400px;
					&.filtered {
						filter: brightness(40%) blur(3px);
					}
				}
				figcaption {
					font-size: 1.4rem;
					color: @mainFontColor;
				}
			}
		}
	}
}